*{
    margin: 0;
    padding: 0;
}

.bg
{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: chocolate;

}

.login
{
    border: 0;
    margin: 50px;
    border-radius: 15px;
    background-color: aqua;
    padding: 15px;
}

.login form input
{
    margin: 0px;
    border-radius: px;
    font-size: small;

    
}

